/*base*/
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.font {
  font-size: 1.9rem;
  font-weight: 500;
}

/*components*/
header {
  top: 0;
  background-color: rgb(255, 255, 255);
  border-bottom: #261700 solid 0.2rem;
  text-align: center;
  grid-area: header;
}
header nav {
  grid-area: nav;
  font-size: 1.5rem;
}
header .nav-link {
  margin-left: 3rem;
}
header .navbar {
  border-bottom: 0.1rem solid #001526;
}
header .nav-item {
  color: #001526;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  background-color: #001526;
  color: #ffffff;
  font-size: 2rem;
}
footer__footer {
  margin-top: 2rem;
  padding-top: 1rem;
  color: #ffffff;
}

.link__footer {
  margin-top: 3rem;
}
.link__footer a {
  text-decoration: none;
  color: #ffffff;
}

.contacto {
  margin-top: 3rem;
  margin-bottom: 2rem;
  padding: 2rem;
  width: 300px;
  text-align: left;
  border: 2px solid;
  background-color: #000000;
  color: #f6f8f8;
}
.contacto a {
  color: #f6f8f8;
}

.contacto h4 {
  padding-bottom: 2rem;
  text-align: center;
}

.socialIcon {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.socialIcon__title {
  padding-bottom: 2rem;
  text-align: center;
}

.socialIcon__link {
  margin-top: 1rem;
  margin-left: 0.7rem;
  padding: 1rem;
}

footer h4 {
  font-size: 2rem;
}

@media (min-width: 768px) {
  .link__footer {
    margin-top: 0px;
  }
}
/*FORM*/
.formPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  width: 95%;
}

.formPage_form {
  text-align: center;
  width: 85%;
  margin: 0;
}

form {
  margin: 0 auto;
  background: #020024;
  width: 35rem;
  padding: 2rem;
  border-radius: 1rem;
  margin-top: 2rem;
  font-size: 2rem;
  color: #ffffff;
}

.contact__p {
  font-size: 1.9rem;
  font-weight: 500;
  text-align: justify;
}

.label {
  display: block;
  padding-bottom: 0.5rem;
}

.field {
  outline: none;
  background-color: #ffffff;
  border: solid 0.01rem #ccc;
  padding: 1rem;
  margin-bottom: 1rem;
  width: 30rem;
}

.field:focus {
  border: solid 0.1rem #001526;
}

.textarea {
  max-width: 30rem;
  max-height: 30rem;
  min-width: 30rem;
  min-height: 30rem;
}

.form__btn {
  padding: 2rem;
  font-size: 2rem;
  font-weight: 700;
  color: #ffffff;
  background-color: #001526;
  border-radius: 1rem;
}

.form__btn:hover {
  background-color: #000000;
}

@media (min-width: 768px) {
  form {
    width: 50rem;
  }
}
/*css*/
html {
  font-size: 50%;
}

body {
  font-family: "lato";
  font-size: 2rem;
  font-weight: 400;
  text-align: justify;
}

span {
  font-weight: 700;
}

.container {
  width: 95%;
  margin: 0 auto;
}

img {
  max-width: 100%;
}

.encabezado__img {
  margin: 3rem;
  display: none;
}

.encabezado {
  background-image: url(../img/fondo2.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-height: 200rem;
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: stretch;
}

.header__text {
  color: aliceblue;
}
.header__text--title {
  padding: 2rem;
  font-size: 5rem;
  text-align: center;
}
.header__text--description {
  font-size: 2rem;
  text-transform: uppercase;
  text-align: center;
  margin: 1rem 3rem;
}

h2 {
  text-align: center;
  font-size: 3rem;
  padding: 2rem;
  text-transform: uppercase;
}

.card {
  box-shadow: 0px 5px 5px rgb(0, 0, 0);
}

.card-body {
  background-color: #001526;
  color: #ffffff;
  text-decoration: none;
  font-size: 2rem;
}

.link-card {
  color: #ffffff;
  text-decoration: none;
}

.icon {
  font-size: 5rem;
  transition: font-size 1s;
}
.icon:hover {
  font-size: 7rem;
}

.card-title {
  font-size: 2.5rem;
}

.card__btn {
  margin-top: 2rem;
  background: none;
  border: none;
  background-color: #ffffff;
  padding: 1rem;
  border-radius: 0.5rem;
  font-weight: 700;
}
.card__btn:hover {
  background-color: #0832be;
  color: #FFF;
}
.card__btn a {
  color: #000000;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 900;
}
.card__btn a:hover {
  color: #f6f8f8;
}

.h2Title {
  font-size: 3rem;
}

/* CSS PAGES */
.hero__busqueda {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 5rem;
  gap: 2rem;
}
.hero__busqueda--p {
  width: 85%;
  text-align: justify;
}
.hero__busqueda--img {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.capacitacion {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4rem;
}

.capacitacion__cap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 85%;
}

.capacitacion__coach {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 85%;
}

.capacitacion__img {
  margin: 5rem;
}

.consultoria {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: stretch;
  margin-top: 5rem;
}

.consultoria__p {
  width: 85%;
}

.capacitacion__p, .hero__busqueda--p, .consultoria__p {
  font-size: 1.9rem;
  font-weight: 500;
}

.contactRedes {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.contact__redes {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.pageTitle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  background-image: linear-gradient(to right, #001526, #25258f);
  height: 15rem;
  font-size: 3rem;
}

/* SASS anidacion */
.contactBox {
  background-color: #001526;
  font-size: 1.5rem;
  font-weight: 400;
  color: #ffffff;
  width: 30rem;
  height: 35rem;
  margin: 1.5rem;
  padding-left: 1rem;
}
.contactBox .contactBox--title {
  padding-top: 1.5rem;
  text-align: center;
}
.contactBox .contactBox--info {
  padding: 1rem;
}
.contactBox .contactBox--btn {
  margin-top: 2rem;
  background: none;
  border: none;
  background-color: #ffffff;
  padding: 1rem;
  border-radius: 0.5rem;
}
.contactBox .contactBox--btn:hover {
  background-color: #0866be;
}
.contactBox .contactBox--btn a {
  color: #000000;
  text-decoration: none;
  font-family: "lato";
  font-size: 1.5rem;
  font-weight: 900;
}

.whatsapp {
  position: fixed;
  width: 6rem;
  height: 6rem;
  bottom: 9rem;
  right: 3rem;
  background-color: #25d366;
  color: #FFF;
  border-radius: 50px;
  text-align: center;
  font-size: 3.5rem;
  z-index: 100;
}
.whatsapp:hover {
  color: #FFF;
}

/* FIRST MOBILE*/
body {
  display: grid;
  grid-template-rows: auto auto 1fr auto;
  grid-template-columns: 1fr;
  min-height: 100vh;
  grid-template-areas: "header" "nav" "main" "footer";
}

main {
  grid-area: main;
}

footer {
  grid-area: footer;
}

@media (min-width: 768px) {
  .encabezado__img {
    margin: 3rem;
    display: inline;
  }

  .encabezado {
    background-image: url(../img/fondo2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    max-height: 100rem;
    display: flex;
    gap: 1rem;
  }

  .header__text--title {
    text-align: left;
  }

  /*ANIMACION*/
  .header__text--description {
    text-align: left;
    margin-left: 2rem;
    animation-duration: 4s;
    animation-name: descricion;
    animation-iteration-count: initial;
  }

  @keyframes descricion {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  .card-body {
    min-height: 30rem;
  }

  .pageTitle {
    font-size: 5rem;
  }
}
@media (min-width: 1024px) {
  html {
    font-size: 62.5%;
  }

  .logo {
    display: flex;
    text-align: start;
  }

  .encabezado {
    height: 35rem;
  }

  .img {
    max-width: 90%;
  }

  .header__text--description {
    margin-top: 3rem;
  }

  .servicios {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
  }

  footer {
    flex-direction: row;
  }

  .pageTitle {
    height: 20rem;
  }

  .hero__busqueda {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    align-items: stretch;
    gap: 6rem;
  }

  .hero__busqueda--p {
    width: 50%;
  }

  .formPage {
    margin: 3rem 3rem 3rem 3rem;
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    align-items: stretch;
    gap: 5rem;
    width: 85%;
  }

  .consultoria {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    align-items: center;
    margin-top: 5rem;
    gap: 4rem;
  }

  .consultoria img {
    width: 40%;
  }

  .consultoria__p {
    width: 50%;
  }

  .capacitacion {
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    margin-top: 5rem;
  }

  .capacitacion__cap {
    width: 50%;
  }

  .capacitacion__coach {
    width: 50%;
  }
}

/*# sourceMappingURL=style.css.map */
