/*base*/
@import "base/reset.scss" ;
@import "base/variables.scss" ;
@import "base/mixins.scss" ;

/*components*/
@import "components/header.scss";
@import "components/footer.scss" ;
@import "components/ContactForm.scss" ;

  /*css*/
  html {
    font-size: 50%;
  }
  body {
    font-family: "lato";
    font-size: 2rem;
    font-weight: 400;
    text-align: justify;
  }
  

  span {
    font-weight: 700;
  }
  
  .container {
    width: 95%;
    margin: 0 auto;
  }
  
  img {
    max-width: 100%;
  }
  
  .encabezado__img {
    margin: 3rem;
    display: none;
    
  }
  
  
  .encabezado {
    background-image: url(../img/fondo2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    max-height: 200rem;
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: stretch;

  }
  
  
  .header__text {
    color: aliceblue;

    &--title {
      padding: 2rem;
      font-size: 5rem;
      text-align: center;
    }

    &--description {
      font-size: 2rem;
      text-transform: uppercase;
      text-align: center;
      margin: 1rem 3rem;
    }
  }
  
  
  
  h2 {
    text-align: center;
    font-size: 3rem;
    padding: 2rem;
    text-transform: uppercase;
  }

  .card {
    box-shadow: 0px 5px 5px rgb(000, 000, 000);
  }
  
  .card-body {
    background-color: $primary-color;
    color: $secundary-color;
    text-decoration: none;
    font-size: 2rem;
  }
  
  .link-card {
    color: $secundary-color;
    text-decoration: none;
    
  }
  
  
  .icon {
    font-size: 5rem;
    transition: font-size 1s;

    &:hover {
      font-size: 7rem;
    }
  }
  
 
  
  .card-title {
    font-size: 2.5rem
  }
  
  .card__btn {
    margin-top: 2rem;
    background: none;
    border: none;
    background-color: $secundary-color;
    padding: 1rem;
    border-radius: 0.5rem;
    font-weight: 700;
    
    
    

    &:hover {
      background-color: #0832be;
      color: #FFF;
    }

    a {
    color: #000000;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 900;

    &:hover {
      color: #f6f8f8;
    }
    }
  }
  
  
  .h2Title {
    font-size: 3rem;
  }
  
  
  /* CSS PAGES */
  
  .hero__busqueda {
    @include FlexContent(center);
    margin-top: 5rem;
    gap: 2rem;

    &--p {
      width: 85%;
      text-align: justify;
      @extend .capacitacion__p;
    }

    &--img {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 2rem;
    }
  }
  
    
  .capacitacion {
    @include FlexContent(center);
    gap: 4rem;
  }
  
  .capacitacion__cap {
    @include FlexContent(center);
    width: 85%;
  }
  
  .capacitacion__coach {
    @include FlexContent(center);
    width: 85%;
  }
  
  .capacitacion__img {
    margin: 5rem;
  }
  
  .consultoria {
    @include FlexContent(stretch);
    margin-top: 5rem;
  }
  
  .consultoria__p {
    @extend .capacitacion__p;
    width: 85%;
    
    
  }
  
  .capacitacion__p {
    font-size: 1.9rem;
    font-weight: 500;
  }
  
  
  
  
  
  .contactRedes {
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }
  
  
  .contact__redes {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  
  
  .pageTitle {
    @include FlexContent(center);
    color: $secundary-color;
    background-image: linear-gradient(to right,#001526, #25258f);
    height: 15rem;
    font-size: 3rem;
  }

  /* SASS anidacion */
  
  .contactBox {
    background-color: $primary-color;
    font-size: 1.5rem;
    font-weight: 400;
    color: $secundary-color;
    width: 30rem;
    height: 35rem;
    margin: 1.5rem;
    padding-left: 1rem;

    .contactBox--title {
        padding-top: 1.5rem;
        text-align: center;
    }
      
    .contactBox--info {
        padding: 1rem;
    }
      
    .contactBox--btn {
        margin-top: 2rem;
        background: none;
        border: none;
        background-color: $secundary-color;
        padding: 1rem;
        border-radius: 0.5rem;
        

        &:hover {
            background-color: #0866be;
          }
    }
      
    .contactBox--btn a {
        color: #000000;
        text-decoration: none;
        font-family: "lato";
        font-size: 1.5rem;
        font-weight: 900;
    }
  }
  
  
  .whatsapp {
    position:fixed;
    width:6rem;
    height:6rem;
    bottom:9rem;
    right:3rem;
    background-color:#25d366;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    font-size:3.5rem;
    z-index:100;

    
    &:hover {
      color: #FFF;
    }
    

  }
  
 
 

  
  /* FIRST MOBILE*/
  
  
  body {
  
    display: grid;
    grid-template-rows: auto auto 1fr auto;
    grid-template-columns: 1fr;
    min-height: 100vh;
    grid-template-areas:
    "header"
    "nav"
    "main"
    "footer";
  
  }
  
  
  
  main {
    grid-area: main;
  }
  
  footer { 
    grid-area: footer;
  }
  
  
  @media (min-width:768px) {

    .encabezado__img {
      margin: 3rem;
      display: inline;
      
    }
    
    
    .encabezado {
      background-image: url(../img/fondo2.png);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      max-height: 100rem;
      display: flex;
      gap: 1rem;
  
    }

    .header__text--title {
      text-align: left;
    }

    /*ANIMACION*/
    .header__text--description {
      text-align: left;
      margin-left: 2rem;
      animation-duration: 4s;
      animation-name: descricion;
      animation-iteration-count: initial;

    }
    @keyframes descricion {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }
    
  
    .card-body {
      min-height: 30rem;
  }
  
    
  
  
  
    .pageTitle {
      font-size: 5rem;
    }
  
  }
  
  
  @media (min-width:1024px) {
    html {
      font-size: 62.5%;
    }
  
  
  
    .logo {
      display: flex;
      text-align: start;
     
    }
    
  
  
    .encabezado {
      height: 35rem;
    }
    .img {
      max-width: 90%;
    }
    
    .header__text--description {
      margin-top: 3rem;
      
    }
   
  
    .servicios {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: stretch;
    }
  
    footer {
      flex-direction: row;
    }
  
    .pageTitle {
      height: 20rem;
    }
  
    .hero__busqueda {
      display: flex;
      flex-direction: row;
      justify-content: stretch;
      align-items: stretch;
      gap: 6rem;
    }
  
    .hero__busqueda--p {
      width: 50%;
    }
    
  
    .formPage {
      margin: 3rem 3rem 3rem 3rem;
      display: flex;
      flex-direction: row;
      justify-content: stretch;
      align-items: stretch;
      gap: 5rem;
      width: 85%;
    }
  
    .consultoria {
      display: flex;
      flex-direction: row;
      justify-content: stretch;
      align-items: center;
      margin-top: 5rem;
      gap: 4rem;
    }
  
    .consultoria img {
      width: 40%;
    }
    .consultoria__p {
      width: 50%;
    }
  
    .capacitacion {
      flex-direction: row;
      justify-content: center;
      align-items: flex-start;
      margin-top: 5rem;
    }
  
    .capacitacion__cap {
      width: 50%;
    }
    
    .capacitacion__coach {
      width: 50%;
    }
  
  }
  
  