* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
html {
  font-size: 50%;
}
body {
  font-family: "lato";
  font-size: 2rem;
  font-weight: 400;
  text-align: justify;
}


header {
  top: 0;
  background-color: rgb(255, 255, 255);
  border-bottom: #261700 solid 0.2rem;
  text-align: center;
}

.container {
  width: 95%;
  margin: 0 auto;
}

img {
  max-width: 100%;
}

.logo {
  margin-top: 1.5rem;
}

.nav__list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav__link {
  text-decoration: none;
  text-transform: uppercase;
  color: black;
  font-size: 1.5rem;
  font-weight: 700;
  padding: 0 1rem;
}

.encabezado {
  background-image: url(img/rrhh.png);
  max-height: 100rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.header__text {
  color: aliceblue;
}

.header__text--title {
  padding: 3rem;
  font-size: 5rem;
  text-align: left;
}

.header__text--description {
  font-size: 2rem;
  text-transform: uppercase;
  padding-left: 1rem;
  text-align: left;
  background-color: rgba(00, 24, 44, 0.9);
}

h2 {
  text-align: center;
  font-size: 3rem;
  padding: 2rem;
  text-decoration: underline;
  text-transform: uppercase;
}

span {
  font-weight: 900;
}

.servicios {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.servicio {
  margin-bottom: 3rem;
  padding: 2rem;
  text-align: center;
  background-color: #001526;
  width: 300px;
  height: 370px; 
  box-shadow: 10px 0 20px;
  color: #f6f8f8;
}

.servicio__icon {
  padding: 2rem;
  background-color: #ffffff;
  border: solid 0.3rem #000000;
}

.servicio__title {
  display: block;
  text-decoration: line;
  color: #ffffff;
  text-transform: uppercase;
  padding: 2rem;
}
.nosotros {
  margin-bottom: 6rem;
  border: dotted 0.1rem black;
  padding: 2rem;
  align-content: center;
}





/* CSS PAGES */

.hero__busqueda {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
  gap: 2rem;
}

.hero__busqueda--p {
  width: 85%;
  text-align: justify;
}

.hero__busqueda--img {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.capacitacion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}

.capacitacion__cap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 85%;
}

.capacitacion__coach {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 85%;
}

.capacitacion__img {
  margin: 5rem;
}

.consultoria {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: center;
  margin-top: 5rem;
}



/*FORM*/

.formPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  width: 95%;
}

.formPage_form {
  text-align: center;
  width: 85%;
  margin: 0;
}




form {
  margin: 0 auto;
  background: rgb(2,0,36);
  background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(9,68,121,1) 43%, rgba(0,212,255,1) 70%);  width: 35rem;
  padding: 2rem;
  border-radius: 1rem;
  margin-top: 2rem;
  font-size: 2rem;
  color: #ffffff;
}


.label { 
  display: block;
  padding-bottom: 0.5rem;
}

.field {
  outline: none;
  background-color: #ffffff;
  border: solid 0.01rem #ccc;
  padding: 1rem;
  margin-bottom: 1rem;
  width: 30rem;
}

.field:focus {
  border: solid 0.1rem #001526;
}
.textarea {
  max-width: 30rem;
  max-height: 30rem;
  min-width: 30rem;
  min-height: 30rem;
}

.form__btn {
  padding: 2rem;
  font-size: 2rem;
  font-weight: 700;
  color: #ffffff;
  background-color: #001526;
  border-radius: 1rem;

}

.form__btn:hover {
  background-color: #000000;
}


.contactRedes {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}


.contact__redes {
  display: flex;
  justify-content: space-around;
  align-items: center;
}



.pageTitle {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  color: #ffffff;
  background-color: #001526;
  height: 15rem;
}

.contactBox {
  background-color: #001526;
  font-size: 1.5rem;
  font-weight: 400;
  color: #ffffff;
  width: 30rem;
  height: 30rem;
  margin: 1.5rem;
  padding-left: 1rem;
}

.contactBox--title {
  padding-top: 1.5rem;
  text-align: center;
}

.contactBox--info {
  padding: 1rem;
}

.contactBox--btn {
  margin-top: 2rem;
  background: none;
  border: none;
  background-color: #ffffff;
  padding: 1rem;
  border-radius: 0.5rem;
}
.contactBox--btn a {
  color: #000000;
  text-decoration: none;
  font-family: "lato";
  font-size: 1.5rem;
  font-weight: 900;
}

/*FORM*/

.form {
  background: rgb(2,0,36);
  background: linear-gradient(270deg, rgba(2,0,36,1) 0%, rgba(9,68,121,1) 43%, rgba(0,212,255,1) 70%);
  border-radius: 5%;
  border: none;

}
input {
  background-color: bisque;
  border: none;
}



/*FOOTER*/
footer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  background-color: #001526;
  color: #ffffff;
  font-size: 1.8rem;
}

.link__footer {
  margin-top: 2rem;
  padding-top: 1rem;
  color: #ffffff;
}

.link__footer a {
  text-decoration: none;
  color: #ffffff;
}

.contacto {
  margin-top: 3rem;
  margin-bottom: 2rem;
  padding: 2rem;
  width: 300px;
  text-align: left;
  background-color: #000000;
  color: #f6f8f8;
}

.contacto h4 {
  padding-bottom: 2rem;
  text-align: center;
}

.socialIcon {
  margin-top: 3rem;
}

.socialIcon__title {
  padding-bottom: 2rem;
  text-align: center;
}

.socialIcon__link {
  margin-top: 1rem;
  margin-left: 0.7rem;
  padding: 1rem;
}


/* FIRST MOBILE*/


body {

  display: grid;
  grid-template-rows: auto auto 1fr auto;
  grid-template-columns: 1fr;
  min-height: 100vh;
  grid-template-areas:
  "header"
  "nav"
  "main"
  "footer";

}

header {
  grid-area: header;

}

nav {
  grid-area: nav;
  
}

main {
  grid-area: main;
}

footer { 
  grid-area: footer;
}


@media (min-width:768px) {

  .nav__list {
    flex-direction: row; 
    justify-content: space-around;
    margin-bottom: 1rem;

  }




}


@media (min-width:1024px) {
  html {
    font-size: 62.5%;
  }



  .logo {
    display: flex;
    text-align: start;
   
  }
  
  .nav__list {
    justify-content: end;
    margin: 1rem 1rem 1rem 1rem;
  }


  .encabezado {
    height: 30rem;
  }



  .servicios {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
  }

  footer {
    flex-direction: row;
  }

  .pageTitle {
    height: 20rem;
  }

  .hero__busqueda {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    align-items: stretch;
    gap: 6rem;
  }

  .hero__busqueda--p {
    width: 50%;
  }
  .header__text--description {
    max-width: 70%;
  }

  .formPage {
    margin: 3rem 3rem 3rem 3rem;
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    align-items: stretch;
    gap: 5rem;
    width: 85%;
  }

  .consultoria {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    align-items: center;
    margin-top: 5rem;
    gap: 4rem;
  }

  .consultoria img {
    width: 40%;
  }
  .consultoria__p {
    width: 50%;
  }

  .capacitacion {
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    margin-top: 5rem;
  }

  .capacitacion__cap {
    width: 50%;
  }
  
  .capacitacion__coach {
    width: 50%;
  }

}

